{minimum_otp_vsn, "27"}.

{erl_opts,
 [debug_info,
  warnings_as_errors]}.

%% TODO: swap for {nhttpc, "~> 1.0"} once nhttpc is published on hex. Until then
%% this needs an SSH key with access to the repo, which is still private.
{deps, [{nhttpc, {git, "git@github.com:nomasystems/nhttpc.git", {branch, "main"}}}]}.

{dialyzer, [{plt_extra_apps, [public_key, ssl, nhttp_lib]}]}.

{shell, [{apps, [augle]}]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]},

                    {deps, [{nhttp, "1.0.4"}]}]}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.
